<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p [%c#%M:%L] - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="eu.clarin.cmdi.vlo" level="debug"/>
        <Logger name="org.apache.solr" level="warn"/>
        <Logger name="org.apache.solr.SolrTestCaseJ4" level="info"/>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
