.DS_Store
*~
*.log*
*.classpath
*.project
*.iml
nbactions*
nbproject*
**/nbactions*
**/nbproject*
**/nb-configuration.xml
/target/
/vlo-solr/target/
/vlo-commons/target/
/vlo-vocabularies/target/
/vlo-importer/target/
/vlo-distribution/target/
/vlo-web-app/target/
/vlo-exposure/target/
/vlo-exposure-frontend/target
/vlo-sitemap/target/
/vlo-statistics/target/
/vlo-solr/solr-home/security.json

/vlo-sitemap/.settings
/vlo-statistics/.settings
/vlo-vocabularies/.settings
/vlo-importer/.settings
/vlo-exposure/.settings
/.settings
/.idea
