/vlo-solr/target/
/vlo-commons/target/
/vlo-vocabularies/target/
/vlo-importer/target/
/vlo-distribution/target/
/vlo-web-app/target/
*.log*
nbactions*
nbproject*
.DS_Store
*~
/vlo-sitemap/target/
/vlo-statistics/target/
/target/
/vlo-distribution/target-old/