/vlo-solr/target/
/vlo-commons/target/
/vlo-vocabularies/target/
/vlo-importer/target/
/vlo-distribution/target/
/vlo-web-app/target/
*.log*
*.classpath
*.project
*.iml
nbactions*
nbproject*
.DS_Store
*~
/vlo-solr/solr-home/security.json
/vlo-sitemap/target/
/vlo-statistics/target/
/target/
/vlo-distribution/target-old/
/bin/

/vlo-sitemap/.settings
/vlo-statistics/.settings
/vlo-vocabularies/.settings
/vlo-importer/.settings
/vlo-exposure/.settings
/.settings
/.idea
