sudo: false
language: java

jdk:
  - oraclejdk8

before_install:
  - echo "MAVEN_OPTS='-Xmx2g -XX:MaxPermSize=512m'" > ~/.mavenrc

notifications:
  email:
    on_success: change
    on_failure: always
