<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>        
        <RollingFile
            name="File"
            fileName="vlo-importer.log"
            filePattern="vlo-importer.log.%i.log.gz"
            ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d %p [%c#%M:%L] - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="2MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
        <Console name="Stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p [%c#%M:%L] - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Stdout"/>
        </Root>
    </Loggers>
</Configuration>
