@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("fonts/Roboto_with_European_character_sets.woff") format("woff");
}
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

a {
  color: #B27000;
}
a:hover, a:focus {
  text-decoration: none;
  color: #D08000;
}

div.navbar-header {
  text-overflow: ellipsis;
  overflow: hidden;
}

.navbar a.navbar-brand, #footer a {
  color: #036;
}
.navbar a.navbar-brand:hover, #footer a:hover {
  color: #259;
}

h1, h2, h3, h4, h5, h6, label {
  color: #666;
  font-weight: normal;
  line-height: 1.2em;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

/* Based on http://typecast.com/blog/a-more-modern-scale-for-web-typography */
#page {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height
    and something more appropriate for display headings */
  }

  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }

  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}
@media (min-width: 43.75em) {
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }

  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }

  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }

  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }

  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }

  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}
p {
  margin: 0 0 15px 0;
}

menu, ol, ul {
  padding: 0 0 0 20px;
}

hr {
  clear: both;
}

html body ul#nav ul, html body ul#nav ul li {
  width: 200px;
}

html body ul#nav ul ul {
  margin: 0 0 0 200px;
}

#footer {
  border-top: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  font-size: 14px;
}

#footer .leftist, #footer .rightist {
  margin: 21px 0;
  padding: 0 4px;
  width: 120px;
}

#footer .leftist {
  text-align: left;
}

#footer .rightist {
  text-align: right;
}
