spring.datasource.url=jdbc:h2:file:/tmp/vlo-monitoring-db

vlo.monitor.config.url=file:/opt/vlo/config/VloConfig.xml

vlo.monitor.rules.fieldValuesDecreaseWarning.collection=25%
vlo.monitor.rules.fieldValuesDecreaseWarning._oaiEndpointURI=100
vlo.monitor.rules.fieldValuesDecreaseError.collection=90%
vlo.monitor.rules.totalRecordsDecreaseWarning=10%
vlo.monitor.rules.totalRecordsDecreaseError=25%
