.search-form {
    /*    min-width: 80%;    
    */    
/*    .search-bar {
        width: 100%;*/
        
        .search-icon {
            width: 2%;
        }
        .search-box {
            width: 97%;
            padding: 0;
        }
    /*}*/
}
