/*******************
/* SEARCH FORM
/*******************/
#search-form {

    .search-icon {
        padding-left: 1em;
        padding-right: 1em;
    }
}

/*******************
/* SEARCH RESULTS 
/*******************/
#searchresults {

    ul#searchresultitems {
        
        padding: 0;

        li.searchresultitem {
            list-style-type: none;

        }
    }
}