<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>        
        <Console name="Stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p [%c#%M:%L] - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Stdout"/>
        </Root>
    </Loggers>
</Configuration>
