<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>        
        <RollingFile
            name="File"
            fileName="${vlo.import.logging.directory}vlo-importer.log"
            filePattern="${vlo.import.logging.directory}vlo-importer.log.%i.log.gz"
            ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d %5p [%15.15t] [%c{1}#%M:%L] - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="25MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>
        <Console name="Stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%15.15t] [%c{1}#%M:%L] - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="eu.clarin.cmdi.vlo" 
                level="${vlo.import.logging.level}" />
        <Logger name="org.springframework" 
                level="error" />
        <Logger name="org.apache.solr.client.solrj.impl.StreamingUpdateSolrServer"
                level="error" />
        <Root level="info">
            <AppenderRef ref="${log4j.appender}"/>
        </Root>
    </Loggers>
</Configuration>
