head {
    content: text/html; charset=UTF-8;
    http-equiv: Content-Type;
}
body, td {
    /*    background-color: url(http://ems06.mpi.nl/clarin/demonstrator.gif) #248 50% repeat;*/
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
}
img{
    border: none;
    display: block;
}
.top{
    background-color: #d4deef;
    width: 100%;
    height: 176px;
    border: none;
}
#topleft{
    position: absolute;
    width: 498px;
    left:0px;
    height: 176px;
}
#topright{
    position: absolute;
    left:498px;
    height: 176px;
}
.opening .matrix .column {
    padding: 0 11px 0 0;
}
.opening .matrix .column:first-child {
    padding: 0 11px;
}
.opening .valuebox .column {
    padding: 0;
}
.opening .valuebox .column:first-child {
    padding: 0;
}
.opening .facetbox {
    font-size: 14px;
}
.middlegame .facetbox {
    font-size: 14px;
    padding: 2px 5px;
}
.middlegame .search {
    background-color: #BCCEE8;
    padding-top: 11px;
    padding-bottom: 11px;
}
#searchmodule{
    margin-left:50%;
    margin-right: auto;
}
.facet_facetOrigin .facetbox {
    background-color: #2E6B99;
    color:#FFFFFF;
    padding: 3px 5px;
}
.facet {
    font-size: 90%;
    font-weight: bold;
    text-transform: uppercase;
}
.facet_facetOrigin .valuebox {
    background-color: #BCCEE8;
    padding: 5px;
}
.value {
    color: #4040ff;
}
.value.sel {
    color: #FFFFFF;
}
.barlink{
    color: #BCCEE8;
}
.resulttable{
    margin-left: 11px;
}
.endgame{
    margin-left: 11px;
}
.endgame .attribute {
    font-weight: bold;
}
.endgame .attributesTbody {
    vertical-align: top;
}
.navigation .navigator {
    clear:both;
}