head {
    content: text/html; charset=UTF-8;
    http-equiv: Content-Type;
}
body, td {
    background-color: url(http://ems06.mpi.nl/clarin/demonstrator.gif) #248 50% repeat;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    margin: 0;
}
.tasksbg {
    background-color: #ff8080;
}
.taskstablebg {
    background-color: #ff8080;
    padding: 5px;
}
.tasksitem {
    background-color: #ffd9d9;
    padding: 8px;
}
.taskcompletebg {
    background-color: #f3f3f3;
    padding: 5px;
}
.taskcompletebg2 {
    background-color: #b3b3ff;
    padding: 5px;
}
.taskerror {
    color: #ff0000;
}
.taskset {
    font-style: italic;
}
.title  {
    background-color: #248;
    color: #fd4;
    padding: 16px;
}
.title h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.title h2 {
    font-size: 10px;
    font-weight: normal;
    margin: 0;
}
.title a {
    color: #fd4;
    text-decoration: none;
}
.title h1 a {
    text-decoration: none;
}
div.body {
    padding: 16px;
}
.loginerror {
    color: #ff0000;
}
.loginheader {
    background-color: #c0c0c0;
    padding: 5px;
}
.powered  {
    float: right;
    font-size: 11px;
}
.login  {
    float: right;
    font-size: 11px;
}
.login .user {
    font-weight: bold;
}
.toolbar  {
    float: right;
    font-size: 11px;
}
.toolbar a {
    text-decoration: none;
}
.toolbar div.button {
    background-color: #c0c8e0;
    border: 1px solid;
    border-color: #fff #77a #77a #fff;
    color: #000;
    display: inline;
    margin: 0px 1px;
    padding: 3px;
}
.toolbar div.button.disabled {
    background-color: #808080;
    border: 1px solid grey;
    color: #c0c0c0;
}
.tip {
    background-color: #ffe;
    border: 1px solid #888;
    font-family: tahoma, lucida grande, arial, sans-serif;
    font-size: 10px;
    padding: 1px;
}
.facet_facetOrigin .facetbox {
    background-color: #d7aeae;
    padding: 3px 5px;
}
.facet_facetContinent .facetbox {
    background-color: #f5eec5;
    padding: 3px 5px;
}
.facet_facetCountry .facetbox {
    background-color: #b9d7ae;
    padding: 3px 5px;
}
.facet_facetLanguage .facetbox {
    background-color: #c5f5e0;
    padding: 3px 5px;
}
.facet_facetOrganisation .facetbox {
    background-color: #aec5d7;
    padding: 3px 5px;
}
.facet_facetGenre .facetbox {
    background-color: #d3c5f5;
    padding: 3px 5px;
}
.facet_facetSubject .facetbox {
    background-color: #d7aed1;
    padding: 3px 5px;
}
.facet {
    font-size: 90%;
    font-weight: bold;
    text-transform: uppercase;
}
.opening .facetbox {
    font-size: 14px;
}
.middlegame .facetbox {
    font-size: 12px;
    padding: 2px 5px;
}
.facet_facetOrigin .valuebox {
    background-color: #f0e1e1;
    padding: 5px;
}
.facet_facetContinent .valuebox {
    background-color: #fcf9e9;
    padding: 5px;
}
.facet_facetCountry .valuebox {
    background-color: #e5f0e1;
    padding: 5px;
}
.facet_facetLanguage .valuebox {
    background-color: #e9fcf4;
    padding: 5px;
}
.facet_facetOrganisation .valuebox {
    background-color: #e1eaf0;
    padding: 5px;
}
.facet_facetGenre .valuebox {
    background-color: #efe9fc;
    padding: 5px;
}
.facet_facetSubject .valuebox {
    background-color: #f0e1ee;
    padding: 5px;
}
.value {
    color: #4040ff;
}
.value.sel {
    color: #000000;
}
.count {
    font-size: 10px;
}
.facet_facetOrigin .termbox {
    background-color: #d7aeae;
    border: 1px solid #8f4747;
    margin-bottom: 3px;
    padding: 3px 4px;
}
.facet_facetContinent .termbox {
    background-color: #f5eec5;
    border: 1px solid #aa9e55;
    margin-bottom: 3px;
    padding: 3px 4px;
}
.facet_facetCountry .termbox {
    background-color: #b9d7ae;
    border: 1px solid #5c8f47;
    margin-bottom: 3px;
    padding: 3px 4px;
}
.facet_facetLanguage .termbox {
    background-color: #c5f5e0;
    border: 1px solid #55aa85;
    margin-bottom: 3px;
    padding: 3px 4px;
}
.facet_facetOrganisation .termbox {
    background-color: #aec5d7;
    border: 1px solid #47708f;
    margin-bottom: 3px;
    padding: 3px 4px;
}
.facet_facetGenre .termbox {
    background-color: #d3c5f5;
    border: 1px solid #6d55aa;
    margin-bottom: 3px;
    padding: 3px 4px;
}
.facet_facetSubject .termbox {
    background-color: #d7aed1;
    border: 1px solid #8f4785;
    margin-bottom: 3px;
    padding: 3px 4px;
}
.termbox  {
    background-color: #c0c0c0;
    border: 1px solid #404040;
    margin-bottom: 3px;
    padding: 3px 4px;
}
.termbox a {
    color: #e00;
    text-decoration: none;
}
.termbox .arrow {
    color: #808080;
}
.termbox .removebox {
    margin-left: 5px;
}
div.removebox {
    background-color: #eee;
    border: 1px solid #aaa;
    color: #e00;
    display: inline;
    font-size: 11px;
    font-weight: bold;
    padding: 0 3px 2px 3px;
    vertical-align: 1px;
}
.opening .matrix .column {
    padding: 0 11px 0 0;
}
.opening .matrix .column:first-child {
    padding: 0 11px;
}
.opening .valuebox .column {
    padding: 0;
}
.opening .valuebox .column:first-child {
    padding: 0;
}
.middlegame .groupheadbox {
    background-color: #d0b0d0;
}
.middlegame .grouphead {
    font-weight: bold;
}
.middlegame .resultbox {
    background-color: #f0f0ff;
}
.middlegame .search {
    background-color: #ddd;
    padding: 11px;
}
.middlegame .search td {
    text-align: center;
}
.middlegame .search table {
    margin: auto;
}
.middlegame .facetcolumn {
    padding: 0 11px;
}
.middlegame .facetcolumn .message {
    padding: 5px 0;
}
.middlegame .facetcolumn .matrix {
    padding: 0 0 16px;
}
.middlegame .itemcolumn {
    padding-right: 11px;
}
.middlegame .itemlink {
    font-size: 100%;
}
.middlegame .facetlink {
    font-size: 100%;
}
.middlegame .metadatatitle {
    font-size: 100%;
    font-weight: bold;
}
.middlegame .metadata {
    font-size: 11px;
}
.middlegame .metadata2 {
    font-size: 100%;
    font-style: italic;
}
.middlegame .historybox {
    background-color: #ffffff;
    border: 1px solid #000000;
}
.middlegame .historylink {
    font-size: 100%;
    font-style: italic;
}
.middlegame .categorylist  {
    padding: 11px;
}
.middlegame .categorylist .query {
    padding: 5px;
}
.middlegame .categorylist td.column {
    padding: 5px;
}
.middlegame .categorylist .message {
    padding: 5px;
}
.endgame .metasubhead {
    color: #b0b0b0;
    font-size: 11px;
}
.endgame .display {
    float: left;
    margin: 0 16px 16px;
}
.endgame .info {
    margin: 0 16px;
}
.endgame .info .minwidth {
    width: 300px;
}
.endgame .metadata .morelikebg {
    background-color: #e6e6e6;
}
.endgame .metadata .facet {
    font-size: 10px;
    text-transform: uppercase;
}
.endgame .metadata .attribute {
    font-size: 10px;
    text-transform: uppercase;
}
.endgame .metadata .facetrepeat {
    color: #808080;
}
.endgame .metadata .value {
    color: #8080ff;
    font-size: 11px;
}
.endgame .metadata .count {
    color: #808080;
    font-size: 9px;
}
.endgame .metadata .arrow {
    color: #808080;
    font-size: 80%;
}
.endgame .metadata .sel .value {
    color: #0000ff;
    font-size: 11px;
}
.endgame .metadata .sel .count {
    color: #000000;
    font-size: 9px;
}
.endgame .attribute {
    font-weight: bold;
}
.endgame .attributesTbody {
    vertical-align: top;
}
.endgame .title {
    color: #000000;
    font-size: 110%;
    font-weight: bold;
}
.endgame .valuebox {
    background-color: #f8f4f8;
    font-size: 11px;
}
.endgame .metadata1 {
    font-size: 100%;
    font-style: italic;
}
.endgame .itembox {
    background-color: #ececff;
    border: 0px solid #000000;
    padding: 8px;
}
.pagebar .offset {
    background-color: #e0c0d0;
    color: #223e71;
    font-size: 10px;
    padding: 3px 0 0 1px;
}
.pagebar .offset.sel {
    background-color: #936;
    color: #ffffff;
    font-weight: bold;
}
.historygame .historygroup {
    background-color: #ffcc99;
    font-weight: bold;
}
.historygame .metadata2 {
    font-size: 100%;
    font-style: italic;
}
.historygame .historyitem {
    background-color: #ffecd9;
}
.historygame .count {
    font-size: smaller;
    font-style: italic;
    font-weight: normal;
}
.popuphandler .searchheader {
    background-color: #f5e2c5;
    font-size: 115%;
    font-weight: bold;
}
.popuphandler .date {
    background-color: #f5e2c5;
    font-size: 80%;
}
.popuphandler .searchbody {
    background-color: #fcf4e9;
}
.popuphandler .count {
    font-size: smaller;
    font-style: italic;
    font-weight: normal;
}
.popuphandler .favoritegroup {
    background-color: #ffff99;
    font-weight: bold;
}
.popuphandler .favoriteitem {
    background-color: #ffffd9;
}
.popuphandler .groupname {
    font-size: 100%;
    font-style: italic;
    font-weight: normal;
}
.popuphandler .searchname {
    font-size: 100%;
    font-style: italic;
    font-weight: normal;
}
.popupwindow .loginbg {
    background-color: #d9d9d9;
    padding: 15px;
}
.popupwindow .error {
    color: #ff0000;
    font-size: 110%;
}
.popupwindow .searchheader {
    background-color: #f5e2c5;
    font-size: 115%;
    font-weight: bold;
}
.popupwindow .date {
    background-color: #f5e2c5;
    font-size: 80%;
}
.popupwindow .searchbody {
    background-color: #fcf4e9;
    padding: 10px;
}
.popupwindow .count {
    font-size: smaller;
    font-style: italic;
    font-weight: normal;
}
.popupwindow .favoritegroup {
    background-color: #ffff99;
    font-weight: bold;
}
.popupwindow .favoriteitem {
    background-color: #ffffd9;
}
.managegame .loginerror {
    color: #ff0000;
}
.managegame .loginbg {
    background-color: #d9d9d9;
    padding: 15px;
}
.managegame .renamebg {
    background-color: #d9d9d9;
    padding: 10px;
}
.managegame .sectionheader {
    padding: 8px;
}
.managegame .searchheader {
    background-color: #f5e2c5;
    font-size: 115%;
    font-weight: bold;
}
.managegame .date {
    background-color: #f5e2c5;
    font-size: 100%;
    font-weight: bold;
}
.managegame .searchbody {
    background-color: #fcf4e9;
    padding: 8px;
}
.managegame .count {
    font-size: smaller;
    font-style: italic;
    font-weight: normal;
}
.managegame .favoritegroup {
    background-color: #ffff99;
    font-style: italic;
    font-weight: bold;
}
.managegame .favoriteitem {
    background-color: #ffffd9;
}
.managegame .historygroup {
    background-color: #ffcc99;
    font-weight: bold;
    padding: 5px;
}
.managegame .historyitem {
    background-color: #ffecd9;
    padding: 8px;
}
.managegame .metadata2 {
    font-size: 100%;
    font-style: italic;
}
.managegame .count {
    font-size: smaller;
    font-style: italic;
    font-weight: normal;
}
.managegame .title {
    color: #000000;
    font-size: 125%;
    font-weight: bold;
}
.managegame .groupname {
    font-size: 100%;
    font-style: italic;
    font-weight: normal;
}
.managegame .searchname {
    background-color: #f5e2c5;
    font-size: 100%;
    font-style: italic;
    font-weight: bold;
}
.managegame .introbox {
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 10px;
}
.managegame .favoritebutton {
    background-color: #e6e6cc;
    color: #000000;
}
.managegame .favoritebutton2 {
    background-color: #e6e6cc;
    color: #000000;
    width: 1.2in;
}
.managegame .favoritebutton3 {
    background-color: #e6e6cc;
    color: #000000;
    width: 2in;
}
.managegame .favoritebutton4 {
    background-color: #e6e6cc;
    color: #000000;
    width: 1.75in;
}
.managegame .favoritebutton5 {
    background-color: #e6e6cc;
    color: #000000;
    width: 1.1in;
}
.managegame .favoritebutton6 {
    background-color: #e6e6cc;
    color: #000000;
    width: 1.3in;
}
.managegame .searchbutton {
    background-color: #fcedd7;
    color: #000000;
}
.managegame .searchbutton2 {
    background-color: #fcedd7;
    color: #000000;
    width: 1.6in;
}
.managegame .searchbutton3 {
    background-color: #fcedd7;
    color: #000000;
    width: 1.7in;
}
.managegame .changefacetsbox {
    padding: 0px;
}
.managegame .singleoptionbox {
    padding: 5px;
}
.managegame .previewtable {
    padding: 10px;
}
.managegame .editoptionsdisplay {
    font-size: 110%;
}
.managegame .favoritebg {
    background-color: #ffff80;
}
.managegame .searchbg {
    background-color: #f9e1bc;
}
.managegame .historybg {
    background-color: #ffc080;
}
.managegame .optionsbg {
    background-color: #e6f3e6;
}
.managegame .facetsbg {
    background-color: #8080ff;
}
.managegame .attrsbg {
    background-color: #c0c0c0;
}
.managegame .attrbox {
    background-color: #c0c0c0;
    padding: 5px;
}
.managegame .openingoptionbg {
    background-color: #ffffc0;
    padding: 5px;
}
.managegame .middleoptionbg {
    background-color: #ffecd9;
}
.managegame .endoptionbg {
    background-color: #ffd9d9;
}
.managegame .viewbar {
    font-size: 105%;
}
.managegame .editoptsviewbar {
    font-size: 105%;
}
.managehandler .loginerror {
    color: #ff0000;
}
.managehandler .loginbg {
    background-color: #d9d9d9;
    padding: 15px;
}
.managehandler .renamebg {
    background-color: #d9d9d9;
    padding: 10px;
}
.managehandler .sectionheader {
    padding: 8px;
}
.managehandler .searchheader {
    background-color: #f5e2c5;
    font-size: 115%;
    font-weight: bold;
}
.managehandler .date {
    background-color: #f5e2c5;
    font-size: 100%;
    font-weight: bold;
}
.managehandler .searchbody {
    background-color: #fcf4e9;
    padding: 8px;
}
.managehandler .count {
    font-size: smaller;
    font-style: italic;
    font-weight: normal;
}
.managehandler .favoritegroup {
    background-color: #ffff99;
    font-style: italic;
    font-weight: bold;
}
.managehandler .favoriteitem {
    background-color: #ffffd9;
}
.managehandler .historygroup {
    background-color: #ffcc99;
    font-weight: bold;
    padding: 5px;
}
.managehandler .historyitem {
    background-color: #ffecd9;
    padding: 8px;
}
.managehandler .metadata2 {
    font-size: 100%;
    font-style: italic;
}
.managehandler .count {
    font-size: smaller;
    font-style: italic;
    font-weight: normal;
}
.managehandler .title {
    color: #000000;
    font-size: 125%;
    font-weight: bold;
}
.managehandler .groupname {
    font-size: 100%;
    font-style: italic;
    font-weight: normal;
}
.managehandler .searchname {
    background-color: #f5e2c5;
    font-size: 100%;
    font-style: italic;
    font-weight: bold;
}
.managehandler .introbox {
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 10px;
}
.managehandler .favoritebutton {
    background-color: #e6e6cc;
    color: #000000;
}
.managehandler .favoritebutton2 {
    background-color: #e6e6cc;
    color: #000000;
    width: 1.2in;
}
.managehandler .favoritebutton3 {
    background-color: #e6e6cc;
    color: #000000;
    width: 2in;
}
.managehandler .favoritebutton4 {
    background-color: #e6e6cc;
    color: #000000;
    width: 1.75in;
}
.managehandler .favoritebutton5 {
    background-color: #e6e6cc;
    color: #000000;
    width: 1.1in;
}
.managehandler .favoritebutton6 {
    background-color: #e6e6cc;
    color: #000000;
    width: 1.3in;
}
.managehandler .searchbutton {
    background-color: #fcedd7;
    color: #000000;
}
.managehandler .searchbutton2 {
    background-color: #fcedd7;
    color: #000000;
    width: 1.6in;
}
.managehandler .searchbutton3 {
    background-color: #fcedd7;
    color: #000000;
    width: 1.7in;
}
.managehandler .changefacetsbox {
    padding: 0px;
}
.managehandler .singleoptionbox {
    padding: 5px;
}
.managehandler .previewtable {
    padding: 10px;
}
.managehandler .editoptionsdisplay {
    font-size: 110%;
}
.managehandler .favoritebg {
    background-color: #ffff80;
}
.managehandler .searchbg {
    background-color: #f9e1bc;
}
.managehandler .historybg {
    background-color: #ffc080;
}
.managehandler .optionsbg {
    background-color: #e6f3e6;
}
.managehandler .facetsbg {
    background-color: #8080ff;
}
.managehandler .attrsbg {
    background-color: #c0c0c0;
}
.managehandler .attrbox {
    background-color: #c0c0c0;
    padding: 5px;
}
.managehandler .openingoptionbg {
    background-color: #ffffc0;
    padding: 5px;
}
.managehandler .middleoptionbg {
    background-color: #ffecd9;
}
.managehandler .endoptionbg {
    background-color: #ffd9d9;
}
.managehandler .viewbar {
    font-size: 105%;
}
.managehandler .editoptsviewbar {
    font-size: 105%;
}
.helpgame .title {
    color: #000000;
    font-size: 125%;
    font-weight: bold;
}
.helpgame .favoritegroup {
    background-color: #ffff99;
    font-style: italic;
    font-weight: bold;
}
.helpgame .favoriteitem {
    background-color: #ffffd9;
}
.helpgame .historygroup {
    background-color: #ffcc99;
    font-weight: bold;
}
.helpgame .historyitem {
    background-color: #ffecd9;
}
.helpgame .searchname {
    background-color: #f5e2c5;
    font-size: 100%;
    font-style: italic;
    font-weight: bold;
}
.helpgame .searchbody {
    background-color: #fcf4e9;
}
.helpgame .loginbg {
    background-color: #d9d9d9;
}
.matchbox {
    background-color: #efefff;
    font-size: 80%;
}
.donebox {
    background-color: #8080c0;
    padding: 3px;
}
.donebox A {
    color: #ffffff;
}
